@charset "UTF-8";

	.clearing_2x2
	{
		width: 160px;
		height: 160px;
		
		position: absolute;
	}

/*
	.woodland-clearing0
	{
		width: 160px;
		height: 160px;
		
		position: absolute;
		
		left: 120px;
		top: 120px;
	}
*/
	
	.woodland-clearing-floor
	{
		width: inherit;
		height: inherit;
		
		position: absolute;
		
		z-index: 0;
	}
	
	.flowerRichCross
	{
		width: 120px;
		height: 120px;
		
		position: absolute;
		
		top: 0; left: 0; right: 0; bottom: 0;
		
		margin: auto;
		
		z-index: 1;

	}
	
/*
	.woodland-clearing0 .flowerRichCross
	{
		top: 0; left: 0; right: 0; bottom: 0;
		
		margin: auto;
		
		z-index: 1;
	}
*/
	
