@charset "UTF-8";
	
	.portal
	{
		width: 80px;
		height: 80px;
		
		position: absolute;
	}
	
	.starSpace-starHolder
	{
		position: absolute;
	}
	
	.starSpace-starSprite-fill-basic
	{
		background: #fff;
	}
	
	.portalTile
	{
		width:inherit;
		height: inherit;
		position: absolute;
		
		z-index: 1;
	}
	
	.starSpace
	{
		width: 94%;
		height: 94%;
		
		overflow: hidden;
		
		/* background: rgb(10, 10, 10); */
		
		background: #ff0070;
		
		position: absolute;
		left: 0; right:0; bottom:0; top:0;
		
		margin: auto;
	}
	
/*
	.starSpace
	{
		width: inherit;
		height: inherit;
		
		overflow: hidden;
		
		background: rgb(10, 10, 10);
		
		position: absolute;
	}
*/
	
	.portal .starSpace
	{
		z-index: 0;
	}

	