@charset "UTF-8";

	.pixels_field
	{
		background-image: url(../_img/_tiles/tile_floor_1x.png);
		background-repeat: repeat;
		background-position: center top;
		background-size: 80px 80px;
	}
	
	.pixels_mapCloudBtm
	{
		background-image: url(../_img/_mapBlend/cloudMergeBTM_1x.png);
		background-repeat: repeat-x;
		background-position: center top;
		background-size: 145px 360px;
		
	}
	
	.pixels_mapCloudTop
	{
		background-image: url(../_img/_mapBlend/cloudMergeTOP_1x.png);
		background-repeat: repeat-x;
		background-position: center top;
		background-size: 145px 360px;
		
	}
	
	.pixels_weather-snow
	{
		background-image: url(../_img/_fx/snow_1x.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 3px 3px;
	}
	
	.pixels_weatherWindShadowCloud
	{
		background-image: url(../_img/_fx/cloudWindShadow_1x.png);
		background-repeat: no-repeat;
		background-size: 116px 138px;
	}
	
	.pixels_bush
	{
		background-image	: url(../_img/_tiles/tile_bush_1x.png);
		background-repeat	: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_darkEdge
	{
		background-image: url(../_img/_mapBlend/blackEdge_1x.png);
		background-repeat: repeat-y;
		background-size: 200px 320px;
	}
	
	.pixels_flowerLight
	{
		background-image: url(../_img/_tiles/tile_flowersLight_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerHeavy
	{
		background-image: url(../_img/_tiles/tile_flowersHeavy_1x.png);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: 80px 80px;
	}
	
	.pixels_flowerRichCross
	{
		background-image: url(../_img/_tiles/tile_flowersRich_+_1x.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 120px 120px;
	}
	
	.pixels_griz
	{
		background: url(../_img/_characters/_map/_griz/griz_1x.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 40px 42px;
	}
	
	.pixels_mapGoat
	{
		background-image: url(../_img/_characters/_map/_goat/goatSprite.png);
		background-repeat: no-repeat;
		background-size: 20px 14px;		
	}
	
	.pixels_portalTile
	{
		background-image: url(../_img/_portal/portal_1x.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 80px 80px;
	}
	
	.pixels_touchyCrab
	{
		background-image: url(../_img/_nav/touchy.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 130px 150px;
	}
	
	.pixels_touchyCrab
	{
		background-image: url(../_img/_nav/touchySplit.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 260px 150px;
	}
	
	.pixels_woodlandBottom
	{
		background-image: url(../_img/_mapBlend/bottomEnd_1x.png);
		background-repeat: repeat-x;
		background-position: left top;
		background-size: 240px 160px;
	}
	
	.pixels_flame
	{
		background-image: url(../_img/_fx/fire_1x.png);
		background-repeat: no-repeat;
		background-size: 20px 60px;
	}
	
	@-webkit-keyframes pixels_tweenRainFrames
	{
		0%		{background-image: url(../_img/_fx/rainTile0_1x.png);}
		25%		{background-image: url(../_img/_fx/rainTile1_1x.png);}
		50%		{background-image: url(../_img/_fx/rainTile2_1x.png);}
		75%		{background-image: url(../_img/_fx/rainTile1_1x.png);}
		100%	{background-image: url(../_img/_fx/rainTile0_1x.png);}
	}
			
	@keyframes pixels_tweenRainFrames
	{
		0%		{background-image: url(../_img/_fx/rainTile0_1x.png);}
		25%		{background-image: url(../_img/_fx/rainTile1_1x.png);}
		50%		{background-image: url(../_img/_fx/rainTile2_1x.png);}
		75%		{background-image: url(../_img/_fx/rainTile1_1x.png);}
		100%	{background-image: url(../_img/_fx/rainTile0_1x.png);}
	}
	
	@media all and (-webkit-min-device-pixel-ratio: 1), all and (min-device-pixel-ratio: 1)
	{
		.pixels_field
		{
			background-image: url(../_img/_tiles/tile_floor_1x.png);
		}
		
		.pixels_mapCloudBtm
		{
			background-image: url(../_img/_mapBlend/cloudMergeBTM_1x.png);
		}
		
		.pixels_mapCloudTop
		{
			background-image: url(../_img/_mapBlend/cloudMergeTOP_1x.png);
		}
		
		.pixels_weather-snow
		{
			background-image: url(../_img/_fx/snow_1x.png);
		}
		
		.pixels_weatherWindShadowCloud
		{
			background-image: url(../_img/_fx/cloudWindShadow_1x.png);
		}
		
		.pixels_bush
		{
			background-image	: url(../_img/_tiles/tile_bush_1x.png);
		}
		
		.pixels_darkEdge
		{
			background-image: url(../_img/_mapBlend/blackEdge_1x.png);
		}
		
		.pixels_flowerLight
		{
			background-image: url(../_img/_tiles/tile_flowersLight_1x.png);
		}
		
		.pixels_flowerHeavy
		{
			background-image: url(../_img/_tiles/tile_flowersHeavy_1x.png);
		}
		
		.pixels_flowerRichCross
		{
			background-image: url(../_img/_tiles/tile_flowersRich_+_1x.png);
		}
		
		.pixels_griz
		{
			background: url(../_img/_characters/_map/_griz/griz_1x.png);
		}
		
		.pixels_mapGoat
		{
			background-image: url(../_img/_characters/_map/_goat/mapChar_goat_1x.png);	
		}
		
		.pixels_portalTile
		{
			background-image: url(../_img/_portal/portal_1x.png);
		}
		
		.pixels_woodlandBottom
		{
			background-image: url(../_img/_mapBlend/bottomEnd_1x.png);
		}
		
		.pixels_flame
		{
			background-image: url(../_img/_fx/fire_1x.png);
		}

		@-webkit-keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_1x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile1_1x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile2_1x.png); background-size: 100px 100px;}
		}
				
		@keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_1x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile1_1x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile2_1x.png); background-size: 100px 100px;}
		}

		
/*
		@-webkit-keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_1x.png); background-size: 100px 100px;}
			25%		{background-image: url(../_img/_fx/rainTile1_1x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile2_1x.png); background-size: 100px 100px;}
			75%		{background-image: url(../_img/_fx/rainTile1_1x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile0_1x.png); background-size: 100px 100px;}
		}
				
		@keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_1x.png); background-size: 100px 100px;}
			25%		{background-image: url(../_img/_fx/rainTile1_1x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile2_1x.png); background-size: 100px 100px;}
			75%		{background-image: url(../_img/_fx/rainTile1_1x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile0_1x.png); background-size: 100px 100px;}
		}
*/		
	}
	
	@media all and (-webkit-min-device-pixel-ratio: 2), all and (min-device-pixel-ratio: 2)
	{
		.pixels_field
		{
			background-image: url(../_img/_tiles/tile_floor_2x.png);
		}
		
		.pixels_mapCloudBtm
		{
			background-image: url(../_img/_mapBlend/cloudMergeBTM_2x.png);
		}
		
		.pixels_mapCloudTop
		{
			background-image: url(../_img/_mapBlend/cloudMergeTOP_2x.png);
		}
		
		.pixels_weather-snow
		{
			background-image: url(../_img/_fx/snow_2x.png);
		}
		
		.pixels_weatherWindShadowCloud
		{
			background-image: url(../_img/_fx/cloudWindShadow_2x.png);
		}
		
		.pixels_bush
		{
			background-image	: url(../_img/_tiles/tile_bush_2x.png);
		}
		
		.pixels_darkEdge
		{
			background-image: url(../_img/_mapBlend/blackEdge_2x.png);
		}
		
		.pixels_flowerLight
		{
			background-image: url(../_img/_tiles/tile_flowersLight_2x.png);
		}
		
		.pixels_flowerHeavy
		{
			background-image: url(../_img/_tiles/tile_flowersHeavy_2x.png);
		}
		
		.pixels_flowerRichCross
		{
			background-image: url(../_img/_tiles/tile_flowersRich_+_2x.png);
		}
		
		.pixels_griz
		{
			background: url(../_img/_characters/_map/_griz/griz_2x.png);
		}
		
		.pixels_mapGoat
		{
			background-image: url(../_img/_characters/_map/_goat/mapChar_goat_2x.png);	
		}
		
		.pixels_portalTile
		{
			background-image: url(../_img/_portal/portal_2x.png);
		}
		
		.pixels_woodlandBottom
		{
			background-image: url(../_img/_mapBlend/bottomEnd_2x.png);
		}
		
		.pixels_flame
		{
			background-image: url(../_img/_fx/fire_2x.png);
		}

		@-webkit-keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_2x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile1_2x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile2_2x.png); background-size: 100px 100px;}
		}
				
		@keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_2x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile1_2x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile2_2x.png); background-size: 100px 100px;}
		}
		
/*
		@-webkit-keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_2x.png); background-size: 100px 100px;}
			25%		{background-image: url(../_img/_fx/rainTile1_2x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile2_2x.png); background-size: 100px 100px;}
			75%		{background-image: url(../_img/_fx/rainTile1_2x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile0_2x.png); background-size: 100px 100px;}
		}
				
		@keyframes pixels_tweenRainFrames
		{
			0%		{background-image: url(../_img/_fx/rainTile0_2x.png); background-size: 100px 100px;}
			25%		{background-image: url(../_img/_fx/rainTile1_2x.png); background-size: 100px 100px;}
			50%		{background-image: url(../_img/_fx/rainTile2_2x.png); background-size: 100px 100px;}
			75%		{background-image: url(../_img/_fx/rainTile1_2x.png); background-size: 100px 100px;}
			100%	{background-image: url(../_img/_fx/rainTile0_2x.png); background-size: 100px 100px;}
		}
*/			
	}