@charset "UTF-8";

	.rainCloud, .rain, .ground, .grass, .bush, .haze, .strike, .fire
	{
		width: inherit;
		height: inherit;
				
		position: absolute;
	}
			
	.strike
	{
	  visibility: hidden;
	  
	  background: #fff;
	  
	  opacity: 0;
	}

	.rainCloud
	{
		opacity: 0;
		
		-webkit-transition	: opacity 1s ease-in-out;
		transition			: opacity 1s ease-in-out;
	
		z-index: 1;
	}

	.rain
	{
		background: url(http://www.simonkinslow.com/_2013/rain/rainTile0.png) repeat left top;
	}

	.haze
	{
	  background: #000;
	  
	  opacity: 0.2;
	  
	  z-index: 0;
	}
			
			.fire
			{
				z-index: 5;
			}
			
			.ground
			{
				z-index: 0;
			}
			
			.grass
			{
				background: url(http://www.simonkinslow.com/_2013/rain/tile_floor_1x.png) repeat left top;
				
				z-index: 0;
			}
			
			.bush
			{
				background: url(http://www.simonkinslow.com/_2013/rain/tile_bush_1x.png) repeat left top;
				
				z-index: 1;
			}
			
			.entrance
			{
				width: 80px;
				height: 40px;
				
				z-index: 1;
				
				position: absolute;
				
				-webkit-transform: translate(0px, 140px);
				transform: translate(0px, 140px);
			}
			
			.clearing
			{
				width: 160px;
				height: 160px;
				
				z-index: 1;
				
				position: absolute;
				
				-webkit-transform: translate(80px, 80px);
				transform: translate(80px, 80px);
			}

			.tween_rain
			{
				/* background-size: 100px 100px; */
				
				/* see pixels.css for image links */
				
/*
				-webkit-animation: pixels_tweenRainFrames 0.3s linear infinite;
				animation: pixels_tweenRainFrames 0.3s linear infinite;
*/

				-webkit-animation: pixels_tweenRainFrames 0.2s linear infinite;
				animation: pixels_tweenRainFrames 0.2s linear infinite;
			}

.tween_haze
{
   -webkit-animation: tweenHazeFrames 4s linear infinite;
  animation: tweenHazeFrames 4s linear infinite;
  
}

@-webkit-keyframes tweenHazeFrames
{
  0% { opacity: 0.2; }
  50% { opacity: 0.4; }
  100% { opacity: 0.2; }
}

@keyframes tweenHazeFrames
{
  0% { opacity: 0.2; }
  50% { opacity: 0.4; }
  100% { opacity: 0.2; }
}

.tween_strike
{
  -webkit-animation: tweenStrikeFrames 0.3s linear forwards;
  animation: tweenStrikeFrames 0.3s linear forwards;
}

@-webkit-keyframes tweenStrikeFrames
{
  0% { opacity: 0; }
  16.66% { opacity: 1; }
  33.32% { opacity: 0; }
  49.98% { opacity: 1; }
  66.64% { opacity: 0; }
  83.3% { opacity: 1; }
  100% { opacity: 0; }

}

@keyframes tweenStrikeFrames
{
  0% { opacity: 0; }
  16.66% { opacity: 1; }
  33.32% { opacity: 0; }
  49.98% { opacity: 1; }
  66.64% { opacity: 0; }
  83.3% { opacity: 1; }
  100% { opacity: 0; }

}

.flameHolder
{
	width: 20px;
	height: 20px;
	
	position: absolute;
	
	overflow: hidden;
	
	opacity: 0;
	
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.flameHolder:nth-of-type(1)
{
	-webkit-transform: translate(640px, 160px);
	transform: translate(640px, 160px);
}

.flameHolder:nth-of-type(2)
{
	-webkit-transform: translate(320px, 320px);
	transform: translate(320px, 320px);
}

.flameHolder:nth-of-type(3)
{
	-webkit-transform: translate(320px, 640px);
	transform: translate(320px, 640px);
}

.flameInner, .flameTop, .flameMid, .flameBtm
{
	width: inherit;
	height: inherit;
	
	position: absolute;
}
	
	
.tween_flameTop
{
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	
	-webkit-animation: tweenFlameTopFrames 0.6s linear infinite;
	animation: tweenFlameTopFrames 0.6s linear infinite;
}

.tween_flameMid
{
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	
	-webkit-animation: tweenFlameMidFrames 0.4s linear infinite;
	animation: tweenFlameMidFrames 0.4s linear infinite;
}

.tween_flameBtm
{
	-webkit-animation: tweenFlameBtmFrames 0.2s ease-in-out infinite;
	animation: tweenFlameBtmFrames 0.2s ease-in-out infinite;
}

@-webkit-keyframes tweenFlameTopFrames
{
	0%		{-webkit-transform: translateY(2px) scale(0.9) rotate(0deg);}
	50%		{-webkit-transform: translateY(0px) scale(1) rotate(10deg);}
	100%	{-webkit-transform: translateY(2px) scale(0.9) rotate(0deg);}
}

@keyframes tweenFlameTopFrames
{
	0%		{transform: translateY(2px) scale(0.9) rotate(0deg);}
	50%		{transform: translateY(0px) scale(1) rotate(10deg);}
	100%	{transform: translateY(2px) scale(0.9) rotate(0deg);}
}

@-webkit-keyframes tweenFlameMidFrames
{
	0%		{-webkit-transform: translateY(1px) scale(0.8) rotate(0deg);}
	50%		{-webkit-transform: translateY(0px) scale(1) rotate(5deg);}
	100%	{-webkit-transform: translateY(1px) scale(0.8) rotate(0deg);}
}

@keyframes tweenFlameMidFrames
{
	0%		{transform: translateY(1px) scale(0.8) rotate(0deg);}
	50%		{transform: translateY(0px) scale(1) rotate(5deg);}
	100%	{transform: translateY(1px) scale(0.8) rotate(0deg);}
}

@-webkit-keyframes tweenFlameBtmFrames
{
	0%		{-webkit-transform: translateY(0px);}
	50%		{-webkit-transform: translateY(2px);}
	100%	{-webkit-transform: translateY(0px);}
}

@keyframes tweenFlameBtmFrames
{
	0%		{transform: translateY(0px);}
	50%		{transform: translateY(2px);}
	100%	{transform: translateY(0px);}
}
