@charset "UTF-8";

	.snowContainer
	{
		width: 100%;
		height: 100%;
		
		position: absolute;
		
		top: 0; left: 0; right: 0; bottom:0;
		
		overflow: hidden;
	}
	
	.snow
	{
		position: absolute;
	}
			
	.snowTween
	{
		visibility: hidden;				
	}
			
	.snowInner
	{
				
	}
			
	.snowFlake
	{
		width: 3px;
		height: 3px;
	}
	
	.tween-snowFlake
	{
		/* EMPTY TO APPLY ANIMATION DEFAULTS */
	}
			
	
	/* INTRO SNOW FLAKE PINK */
	
	.snowFlake-pink
	{
		background-position: -210px 0px;
	}
	
	.snowFlake-white
	{
		background-position: 0px 0px;
	}
			
			
	@-webkit-keyframes snowFall
	{
		from	 {-webkit-transform: translateY(-300px);}
		to		 {-webkit-transform: translateY(900px);}
	}
	
	@keyframes snowFall
	{
		from	 {transform: translateY(-300px);}
		to		 {transform: translateY(900px);}
	}
			
	@-webkit-keyframes snowFallTurn
	{
		from	{-webkit-transform: rotate(0deg);}
		to		{-webkit-transform: rotate(360deg);}
	}
			
	@keyframes snowFallTurn
	{
		from	{transform: rotate(0deg);}
		to		{transform: rotate(360deg);}
	}
			