@charset "UTF-8";

.noticeWrapper
{
/*
	width: 100%;
	height: auto;
*/

	width: inherit;
	
	height: inherit;
	
	background: #dfdfd5;
	
/* 	position: relative; */

}


.notice-container
{
	width: 320px;
	height: auto;
	
	position: absolute;
	
	left:0; top:0; right:0; bottom: 0;
	margin: auto;
}


.notice-msg
{
	width: 80%;
	
	position: relative;
	
	margin: 20px auto 0 auto;
}

.notice-msg p
{
	font-weight: 14px;
	line-height: 3ex;
	text-align: center;

	color: #ff0273; 
}

.notice-you
{
	width: 100%;
	height: 72px;
	
	position: relative;
	
	margin: 20px auto 0 auto;
}

.notice-player1
{
	width: 40px;
	height: 72px;
	
	margin: 0 auto;
}

.notice-trees
{
	width: 100%;
	
	position: relative;
}

.notice-trees-top
{
	margin: 0 auto;
}

.notice-trees-btm
{
	margin: 20px auto 0 auto;
}

.notice-trees-tile
{
	width: inherit;
	height: 120px;

	margin: 0 auto;
	
	position: relative;
	
}

.notice-wolf
{
	width: 40px;
	height: 40px;
	
	position: absolute;
	
	z-index: 1;
	
	background: #dfdfd5;
}

.notice-trees-top .notice-wolf
{
	top: 0;
	
	left: 0;
	
	-webkit-transform	: scaleX(-1);
	transform 			: scaleX(-1);
}


.notice-trees-btm .notice-wolf
{
	bottom: 0;
	
	right: 0;
}


.notice-wolf-sprite
{
	width: 24px;
	height: 36px;
	
	background-position: -182px 0px;
	
	position: absolute;
	
	left: 0; right: 0; top: 0; bottom: 0;
	
	margin: auto;
}

.notice-wolf-sprite .battleCute-eyes
{
	-webkit-transform	: translate(4px, 15px);
	transform			: translate(4px, 15px);
}

.battleCute-eyes-wolf-norm
{
	background-position: -70px -70px;
}

.battleCute-eyes-wolf-happy
{
	background-position: -56px -70px;
}

.tween-notice-wolf-looking
{
	-webkit-animation	: tweenNoticeWolfLookingFrames 1.8s ease-in-out infinite;
	animation			: tweenNoticeWolfLookingFrames 1.8s ease-in-out infinite;
}

@-webkit-keyframes tweenNoticeWolfLookingFrames
{
	0%		{ -webkit-transform	: translate(1px, 2px); } /* CENTER */
	25%		{ -webkit-transform	: translate(1px, 2px); } /* CENTER DELAY */
	50%		{ -webkit-transform	: translate(-1px, 2px); } /* LEFT */
	75%		{ -webkit-transform	: translate(-1px, 2px); } /* LEFT DELAY */
	100%	{ -webkit-transform	: translate(1px, 2px); } /* CENTER */
}

@keyframes tweenNoticeWolfLookingFrames
{
	0%		{ transform	: translate(1px, 2px); } /* CENTER */
	25%		{ transform	: translate(1px, 2px); } /* CENTER DELAY */
	50%		{ transform	: translate(-1px, 2px); } /* LEFT */
	75%		{ transform	: translate(-1px, 2px); } /* LEFT DELAY */
	100%	{ transform	: translate(1px, 2px); } /* CENTER */
}
